body {
    background-color: rgb(170, 131, 46);
    color: black;
}

.title-adobo {
    border: 1px non black;
    padding: 0;
    top: 0;
    position: sticky;
    background-color: rgba(212, 148, 63, 0.5);
    color: black;
}

.title-adobo h1 {
}

.title-adobo ul li, .title-adobo ul li a {
    list-style: none;
    text-decoration: none;
}

.title-adobo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.title-adobo ul li {
    float: right;
}
  
.title-adobo ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: black;
}
  
.title-adobo ul li a:hover {
    background-color: #dbb060;
}

.adobo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.adobo-desc {
    border: 1px solid black;
    padding: 1em;
    margin-top: .5em;
    border-bottom: none;
}

.adobo-ingr {
    border: 1px solid black;
    padding: 1em;
    border-bottom: none;
}

.adobo-steps {
    border: 1px solid black;
    padding: 1em;
}