html {
    scroll-behavior: smooth;
    
}

body {
    background-color: rgba(175, 143, 105, 1);
    color: white;
    margin: 0;
}

.title-adobo {
    margin-bottom: 0.5em;
    border: 1px none black;
    padding: 0.5em;
    top: 0;
    position: sticky;
    background-color: rgba(67, 50, 36, 0.8);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-adobo h1, .title-adobo h1 a {
    margin: 0;
    text-decoration: none;
    color: white;
}

.title-adobo ul li, .title-adobo ul li a {
    list-style: none;
    text-decoration: none;
}

.title-adobo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.title-adobo ul li {
    float: right;
}
  
.title-adobo ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
  
.title-adobo ul li a:hover {
    background-color: rgba(67, 50, 36, 1);
}

.adobo-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: auto;
}

.adobo-desc {
    background-color: rgba(67, 50, 36, 0.7);
    padding: 1em;
    margin-top: .5em;
}

.adobo-ingr {
    background-color: rgba(67, 50, 36, 0.7);
    padding: 1em;
}

.adobo-steps {
    background-color: rgba(67, 50, 36, 0.7);
    padding: 1em;
}

.go-up {
    position: fixed;
    top: 90%;
    right: 1.1%;
    text-decoration: none;
    color: inherit;
}

.go-up a {
    color: white;
}

.footer {
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 50, 36, 0.8);
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer ul li {
    text-align: center;
    padding: 0.5em;
}

.footer ul li a {
    display: inline-block;
    text-decoration: underline;
    color: white;
}